<div class="container">
	<div class="flex flex-col gap-20 md:gap-16 lg:gap-8 mx-auto w-full lg:flex-row md:max-w-md lg:min-w-full">
    <div class="shopwindows__box relative bg-yellow flex flex-col md:flex-row md:gap-6 items-center max-w-lg lg:max-w-none pb-10 md:pb-3 md:pt-2 md:pl-5 rounded-xl opacity-0 scale-[50%] lg:flex-1">
          <div class="lg:flex-1 relative top-0 grid place-items-center -mt-10 -ml-2 mb-4">
              <img
              class="w-[80%] md:w-[176px] lg:w-[220px]"
            src="{{plushToyImage}}"
            srcset="{{plushToyImage500}} 500w, {{plushToyImage}} 1200w"
            sizes="(max-width: 479px) 64vw, (max-width: 991px) 176px, 220px"
            alt=""
          ></img>
        </div>
        <div class="text-center space-y-3.5 md:text-start lg:flex-1">
          <h3 class="text-white text-xl md:text-2xl lg:text-3xl lg:max-w-[12ch]">Stuffed Animals</h3>
          <div class="button-placeholder mx-auto md:mx-0"></div>
        </div>
    </div>
      <div class="shopwindows__box relative bg-pink flex flex-col md:flex-row-reverse md:gap-6 items-center max-w-lg lg:max-w-none pb-10 md:pb-3 md:pt-2 md:pr-5 rounded-xl opacity-0 scale-[50%] lg:flex-1">
          <div class="lg:flex-1 relative top-0 grid place-items-center -mt-14 -ml-2 mb-4">
              <img
              class="w-[80%] md:w-[176px] lg:w-[220px]"
            src="{{woodenToyImage}}"
            srcset="{{woodenToyImage500}} 500w, {{woodenToyImage}} 1200w"
            sizes="(max-width: 479px) 64vw, (max-width: 991px) 176px, 220px"
            alt=""
          ></img>
        </div>
        <div class="text-center space-y-3.5 md:text-end lg:flex-1">
          <h3 class="text-white text-xl md:text-2xl lg:text-3xl lg:max-w-[10ch]">Wooden Toys</h3>
          <div class="button-placeholder mx-auto md:ml-auto"></div>
        </div>
    </div>
  </div>
</div>